# Database/Migration
drpproject/migrations
drpproject/drpapp/migrations/00*_*.py
*.sqlite3

# Cache/Temporary
__pycache__
*.pyc
staticfiles/

# Environment
.env
.DS_Store
.gitignore

# Images/PDFs
*.png
*.jpg
*.jpeg
*.pdf

# Drawio
*.drawio.bkp
*.drawio.dtmp