<!DOCTYPE html>
<html>
<head>
    <title>Diet Preferences</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .checklist-item {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Diet Preferences</h1>

    <form action="/drpapp/diet/" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">submit</button>
    </form>

    <!-- <form method="POST">
        {% csrf_token %} 
        <div class="checklist-item">
            <input type="checkbox" id="id_vegetarian" name="vegetarian">
            <label for="id_vegetarian">Vegetarian</label>
        </div>
        <div class="checklist-item">
            <input type="checkbox" id="id_vegan" name="vegan">
            <label for="id_vegan">Vegan</label>
        </div>
        <div class="checklist-item">
            <input type="checkbox" id="id_gluten_free" name="gluten_free">
            <label for="id_gluten_free">Gluten-free</label>
        </div>

        <button type="submit">Save</button> -->
</body>
</html>
