<!DOCTYPE html>
<html>
<head>
    <title>Ingredient Cost Comparison</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .ingredient-list {
            margin-bottom: 20px;
        }
        .ingredient-list ul {
            list-style-type: none;
            padding: 0;
        }
        .ingredient-list li {
            margin-bottom: 5px;
        }
        .total-price-column {
            width: 50%;
        }
    </style>
</head>
<body>
    <h1>Ingredient Cost Comparison</h1>

    <div class="ingredient-list">
        <h2>Ingredients</h2>
        <ul>
            {% for ingredient in ingredients %}
                <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
    </div>

    <table>
        <caption>Price Comparison</caption>
        <thead>
            <tr>
                <th>Tesco</th>
                <th>Asda</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in tesco_items.items %}
                <tr>
                    <td>
                        <a href="https://www.tesco.com/groceries/en-GB/products/{{ value }}">{{ key }}</a>
                    </td>
                    <td>
                        <a href="https://groceries.asda.com/search/{{ value }}">{{ key }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
