<!DOCTYPE html>

<head>
    <title>Recipe Saved</title>
</head>

<body>
    <p>Recipe (id={{ saved_recipe_id }}) has been saved to your account.</p>
    
    <a href="{% url 'index' %}">Return to Home</a>
    <br>
    <a href="{% url 'all_saved_recipes' %}">Show all my saved recipes</a>

    {% if saved_recipe %}
        <p>URL: {{ saved_recipe.recipe_url }}</p>
        <p>Ingredients:</p>
        <ul>
            {% for ingredient in saved_recipe.ingredients %}
                <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>

</html>